*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url(../images/descarga.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    
}

footer{
    margin-top: auto;
}

/* Sobre Nosotro */

.body-fondo {
	
	background-size: cover;
	width: 100%;
	background-position: center;
}

.body-fondo p, h2{
	color: white;
}

.div-padre {
	display: flex;
	justify-content: center;
	margin: 20px;
	padding: 20px;
	}

.desarrollo {
	display: flex;
	margin-top: 4%;
	padding: 20px;
	width: 100%;
	background: rgba(0, 0, 0, .4);
	color: white;
}

.integrantes img {
	margin: 1rem 0 ;
}

.integrantes{
	background: rgba(0, 0, 0, .4);
}

.text-p {
	text-align: center;
	display: flex;
	font-size: 27px;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.box-img {
	border-radius: 80%;
	border: 5px solid #5e37a8;
}



.Botones {
    min-width: 700px;
    display: flex;
    justify-content: space-around;


}

.Botones a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #282828cd;
    color: aliceblue;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.Botones a:hover {
    transform: scale(1.2);
}

.a-red {
    text-decoration: none;
    color: white;
}

.botn-custom {
    width: 230px;
}

.body-sobre-nosotros {
    background-image: url(../images/body\ sobre\ nosotros\ 2.jpg);
}

.fondo-404 {
    background-image: url(../images/pagina404.png);
}

.fondo-home {
    width: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://media.glamour.es/photos/63bd636276b3f00cb18fc1b8/4:3/w_1332,h_999,c_limit/pelisglobos.gif);
}

.styles {
    background-color: rgba(0, 0, 0, .8);
}

.btn-inicio {
background-color: #5e37a8 !important;
}

.btn-regist {
    background-color: deeppink !important;
}

.card-fondo {
    background-color: rgba(0, 0, 0, .6) ;
}
 
.fondo-iniciar-sesion {
    background-image: url(../images/Video\ móvil\ película\ cine\ mudo\ historia\ clásico\ negro\ y\ blanco\ \(Post\ para\ Instagram\).gif);
}

.boton-volver {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
   /*  background-color: #007bff; */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.fondo-registro {
    background-image: url(../images/fondo-registro\ nuevo.png);
}

